<style>
    
    body{
       
        font-family: Arial, sans-serif;
    }
    .rounded{  
        border-radius: 50px;
        border: 2px solid #c5bfbf;
        border-collapse: collapse;
        }
    
        
    
      
    </style>
<body>
    <h1>Employee Details</h1>
<table class="rounded" >
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Department</th>
        
    </tr>
    <tr>
        <td>{{empDetails?.firstName}}</td>
        <td>{{empDetails?.lastName}}</td>
        <td>{{empDetails?.email}}</td>
        <td>{{empDetails?.phoneNumber}}</td>
        <td>{{empDetails?.departmentId}}</td>
    </tr>
</table>


<button (click)="backButton()" >Back</button>
</body>

