<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap" rel="stylesheet">


<button (click)="printOnConsole()">Print on console</button>
<table >
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Details</th>
    </tr>
    <tr *ngFor="let i of emp">
        <td>{{i.firstName}}</td>
        <td>{{i.lastName}}</td>
        <td ><button (click)="passEmpToDetails(i)">Details</button></td>
        
    </tr>
</table>